*{
    box-sizing: border-box;
}

body {
    margin: 0;
    color: white;
    background-color: hsl(217, 54%, 11%);
    font-family: 'outfit', sans-serif;

}

.container {
    position: relative;
    width: 350px;
    height: 590px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px ;
    font-size: 18px;
    border-radius: 1rem;
    background-color: hsl(216, 50%, 16%);
}

/* When I use z-index 10 on the wrapper the eye icon shows */

.image-wrapper {
    position: relative;
    background-color: hsl(178, 100%, 50%);
    overflow: hidden;
    border-radius: 1rem;
    z-index: 10;
}


.card__image {
    display: block;
    max-width: 100%;
    padding: 1.5rem;
    transition: opacity 300ms ease-in-out;
    border-radius: 2rem;
}

.image-wrapper:is(:hover) .card__image {
    opacity: 0.5;
}

.icon__view {
    position: absolute;
    top: 150px;
    right: 150px;
}

.card {
    margin: 0 1.5rem;
}

.card__title {
    margin: 0;
    font-size: 1.3em;
    font-weight: 600;
}

.card__title:hover {
    color: hsl(178, 100%, 50%) ;
}

.card__text {
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.card__text--green {
    display: inline-block;
    font-weight: 400;
    color: hsl(178, 100%, 50%) ;
}

.card__text--time {
    float: right;
    font-weight: 400;
}

.card__user{
    padding: 0.5rem;
    border-top: 1px solid hsl(215, 51%, 70%);
}

.user__img {
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 50%;
}

.card__text--bottom {
    position: absolute;
    font-size: 16px;
    bottom: 18px;
    right: 90px;
    }

.card__text--bold {
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.card__text--bold:hover {
    color: hsl(178, 100%, 50%) ;
}


